.tag {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  line-height: 1.5;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 1.75rem;
  max-width: 100%;
  font-weight: 500;
  min-width: 1.75rem;
  font-size: 0.875rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgb(0, 181, 216);
  color: rgb(255, 255, 255);
  margin-right: 1rem;
  border-radius: 9999px;
}
